//
// COMPONENTS | Back
// --------------------------------------------------

.back {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  &__link {
    display: inline-flex;
    margin-right: 8px;
    padding-right: 8px;
    border-right: $box-border;

    @include desktop {
      display: none;
    }
  }

  &__title {
    margin: 0;
  }

  &__meta {
    color: $ink-200;
    font-size: 1rem;
  }
}
