// COMPONENTS | Card
// --------------------------------------------------
.card {
  display: flex;
  box-shadow: $box-shadow;
  border: $box-border;
  border-radius: 10px;
  background: $background-surface;
  padding: 24px;
  text-decoration: none;
}
