// COMPONENTS | Display Field
// --------------------------------------------------
.display-field {
  &-label {
    color: $ink-300;
    font-size: smaller;
  }

  &-value {
    display: flex;
    flex-wrap: wrap;
    color: $ink-900;

    .material-icons {
      margin-right: 8px;
      color: $ink-200;
    }
  }

  & + & {
    margin-top: 16px;
    border-top: $box-border;
    padding-top: 16px;
  }
}
