//
// COMPONENTS | Display Field
// --------------------------------------------------

.display-field {
  &-label {
    // font-weight: bold;
    font-size: smaller;

    @include desktop {
      color: $ink-900;
    }
  }

  &-value {
    display: flex;
    color: $ink-900;
    flex-wrap: wrap;

    .material-icons {
      margin-right: 8px;
      color: $ink-200;
    }
  }

  & + & {
    margin-top: 16px;
  }
}
