//
// COMPONENTS | List
// --------------------------------------------------

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  border: $box-border;
  border-radius: $border-radius;
  background: $background-surface;
  box-shadow: $box-shadow;
  list-style: none;

  li + li {
    border-top: $divider;

    &.list__divider {
      border-top: none;
    }
  }

  &__item {
    display: block;
    padding: 16px 24px 16px 24px;
    transition: background-color $duration-s $timing-default;

    &:is(a) {
      color: currentColor;
      text-decoration: none;

      &:hover {
        background-color: $background-surface-hover;
        color: $ink-900;
      }
    }

    &.is-active {
      color: $ink-900;
      font-weight: bold;

      @include desktop {
        background-color: $background-surface-active;
      }
    }
  }

  &__divider {
    padding: 8px 24px;
    background-color: $background-surface-divider;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
  }
}
