// COMPONENTS | Message
// --------------------------------------------------
.message {
  display: flex;
  align-items: flex-start;

  &::before {
    word-wrap: normal;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin-right: 8px;
    margin-left: -4px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    font-family: "Material Icons", serif;
    letter-spacing: normal;
    direction: ltr;
    text-transform: none;
    white-space: nowrap;
  }

  &.is-error {
    color: $error-ink;

    &::before {
      content: "error";
    }
  }

  &.is-info {
    color: $info-ink;

    &::before {
      content: "info";
    }
  }
}
