// LAYOUT | APP
// --------------------------------------------------
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $background-primary;
  min-width: 375px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

a {
  transition: color $duration-s $timing-entrance;
  color: $ink-200;
  text-decoration: none;

  &:active,
  &:visited,
  &:focus {
    color: $ink-200;
  }

  &:hover {
    color: $ink-900;
  }
}
