// MATERIAL | Form Field
// --------------------------------------------------
.mat-form-field {
  .mat-form-field-prefix {
    align-self: flex-start;
    margin-top: 6px;

    .material-icons {
      display: block;
      margin-right: 8px;
      color: $ink-200;
    }
  }
}
