<section class="overview mt-5">
  <div class="back">
    <a href="#" class="back__link" [routerLink]="['..']" [class.d-none]="!detailOutlet.isActivated">
      <span class="material-icons">arrow_back</span>
    </a>

    <h2 class="back__title">
      <a href="#" [routerLink]="['/']">Contacts</a>
    </h2>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4 d-lg-block" [class.d-none]="detailOutlet.isActivated">
      <ul class="list">
        <ng-container *ngIf="contacts$ | async as contacts">
          <ng-container *ngFor="let item of contacts">
            <li>
              <a href="#" class="list__item" [routerLink]="[item.uuid]" routerLinkActive="is-active" mat-ripple>
                <span>{{ item.firstName }} {{ item.lastName }}</span>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="!contacts.length">
            <li>
              <div class="list__item">
                <div id="message_empty" class="message is-info">
                  <span>No items found</span>
                </div>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>

    <div class="col" [class.d-none]="!detailOutlet.isActivated">
      <router-outlet #detailOutlet="outlet"></router-outlet>
    </div>
  </div>

  <div class="fab-container">
    <div class="container d-flex justify-content-end">
      <button id="button_add" mat-fab color="primary" (click)="openDialog()">
        <div class="material-icons">add</div>
      </button>
    </div>
  </div>
</section>
